
<!-- 确定 存在 success时才显示 -->
<% if(success && success.length) {%> 
<!-- bootstrap 中的 Dismissing alert (可以通过点击然后消失)
 note: 使用这个 bootstrap5版本的 -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
     <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(error && error.length) {%> 
<div class="alert alert-danger alert-dismissible fade show" role="alert">
     <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

