<!-- py-3 相当于 pt + pd (top and buttom) -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
    <!-- &copy;  能够在页面直接显示出cipy right的图标 -->
        <span style="color: #bcbcbc" >&copy; YelpCamp 2024</span>
    </div>
</footer>

